<!--=== Header ===-->
<header class="navbar navbar-default" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <!-- TODO can we use fa-bars for these bars? -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mission Bit</a>
        </div>
        <nav class="collapse navbar-collapse navbar-responsive-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="menu-item menu-intro-web">
                    <a href="{{ base_url }}">Intro Web</a>
                </li>
                <li class="menu-item menu-intro-github visible-xs">
                    <a href="{{ repository_url }}">GitHub Repository</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li class="menu-item">
                    <a aria-label="GitHub" title="GitHub" class="social-icon fa fa-github-square" href="{{ repository_url }}" target="_blank"></a>
                </li>
            </ul>
        </nav><!-- /navbar-collapse -->
    </div><!-- /container -->
</header>
